<% include partials/header %>

    <body>
        <div class="container container404">
    		<h1>404</h1>
            <h3>Page not Found!</h3>
            <p>No one has camped here before!</p>
            <p><em><%= url %></em> was not found.</p>
            <a class="btn btn-lg" href="/">Take me Home</a>
    	</div>
    </body>
	
<% include partials/footer %>